.body{
    overflow: hidden;
}
.container{


    height: 850px;
    width: 1520px;
    display:  inline-flex;
    background-size: cover;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: hidden; */
    margin-left: 4%;
    
}
.centered-hr{
    height: 9px;
    display: flex;
    text-align: center;
    margin-top: 235px;
    /* position: absolute; */
   
    /* text-decoration: overline; */
    /* justify-content: center; */
    /* content: ""; */
    /* font-size: 3px; */
    /* content: Or; */
    /* border: none; */    /* width: 50%; */
    /* max-width: 50px; */
}
.centered-hr::before,
.centered-hr::after{
    content: "";
    flex: 1;
    border-top: 1px solid #000;
    /* margin-bottom: 235px; */
}
.first{
    background-color:#f2f0e9;
    height: 600px;
    width: 950px;
    flex-direction: column;
    flex-wrap: row wrap;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 55px;
    padding-left: 2%;
    padding-right: 3%;
    position: absolute;
    top: 30px;
    border-left: 25px;
    margin-left: 190px;
    color: rgb(43, 59, 59);
font-size: 15px;
    margin-top: 45px;
    margin-bottom:30px;
}
.second{
   
    
    background-color:#f2f0e9;
    height: 2px;
    width: 950px;
    flex-direction: column;
    flex-wrap: row wrap;
    text-align: center;
    padding-top:25px;
    padding-bottom:98px;
    padding-left: 2%;
    padding-right: 3%;
    position: absolute;
    top: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 190px;
    font-size: 29px;
/* text-align: center; */
    
    
/* font-size: larger; */
font-family:'Jost', sans-serif;
/* font-family: 'Poppins', sans-serif; */
font-display: right;
letter-spacing: 3%;
line-gap-override: 6%;
/* /* color: darkslategray; */
color: rgb(3, 39, 39)

/* text-align: justify; */


   
}
.third{
    background-color: ghostwhite;
    width: 935px;
    height: 355px;
    flex-direction: column;
    position: absolute;
    margin-top: 424px;
    margin-right: 230px;
    margin-left: 230px;
    margin-bottom: 100px;
}
#one{
    border-radius: 12px 12px 12px 12px;
    background-color: ghostwhite;
    /* width: 800px; */
    height: 45px;
    width: 290px;
    margin-top: 25px;
    margin-left: 19px;
    text-align: left;
    nav-left: 5%;
    /* text-align:right 4%; */
color:rgb(14, 69, 14); ;;
padding-left: 20px;
border-color: dimgrey;
border-style: solid; 
}
#two{
    border-radius: 12px 12px 12px 12px;
    
    border-color: dimgrey;
    border-style: solid; 
    background-color: ghostwhite;
    height: 45px;
    width: 350px;
    margin-top: 25px;
    
    margin-left: 238px;
    text-align: left;
    nav-left: 5%;
    /* text-align:right 4%; */
color:rgb(14, 69, 14); ;;
padding-left: 20px;
border-color: dimgrey;
border-style: solid; 

}  
.count{
    /* border-radius: 8px 8px 8px 8px; */
    /* background-color: ghostwhite;
    height: 30px;
    width: 40px;
    position: left;
    border-color: dimgrey;
border-style: solid; 
nav-down: 5%; */
/* position: relative; */
display: flex;
         align-items: center;
         padding: 2px;
         margin-left: 2%;
         margin-top: 2%;

}
.count[ type ="checkbox"]{
    /* flex: none; */
    display:block;
    position: absolute;
    height:7%;
    width: 4%;
    display:flexbox;
    margin-bottom: 2%;
    margin-top: -1%;
    top:35%;
    /* top:65px; */
}
.count h4{

    margin-left: 59%;
    text-decoration: underline;
    display:flex;
    margin-bottom: -1%;
    margin-top: -9%;
    text-align: 29px;
    top:75px;
    color:dimgrey; 
}

#three{
    border-radius: 12px 12px 12px 12px;
    background-color: rgb(14, 69, 14);
    color: azure;
    height: 45px;
    width: 455px;
    /* margin-top: 20px; */
    margin-left: 25%;
    text-align: center;
    nav-left: 5%;
    border-color:rgb(14, 69, 14); ;
    
    border-style: solid; 
}
#four{
    border-radius: 12px 12px 12px 12px;
    /* /* background-color:rgb(237, 108, 15); */
     background-color: red; 
    color: azure;
    height: 45px;
    width: 455px;
    margin-top: 1%;
    margin-left: 25%;
    text-align: center;
    nav-left: 5%;
border-style: solid;
border-color: rgb(237, 108, 15);
size: 4px;
}
body{
    background-color:#dbdbd9;
}
.different{
display: flex;
position: relative;
/* z-index: 6900; */
margin-top: 248px;
margin-left: 350px;
/* justify-content: flex-end; */
/* align-content: flex-end; */
/* align-content: end; */
/* bottom: 67px; */
/* text-align: center;
bottom: 9px;
position:relative; */
}

.upper{
    background-color:whitesmoke;
    height: 100px;
    width: 100px;
    /* border: 4px solid whitesmoke; */
    border-style: solid;
    border-radius: 8%;
    border-color: whitesmoke;
    margin: 6px;
    /* margin-bottom: 5px; */
    /* align-content:bottom; */
    text-align: center;
    bottom:0;
    position:relative;
    font-weight: 900;
    /* left: 43px; */
    /* justify-content: center; */
    /* translate: 65px; */
    /* content: icon; */
    /* right: 45px; */
/* align-content: flex-end; */
display: flex;
align-items: flex-end;
justify-content: center;
padding-bottom: 1%;
color:rgb(14, 69, 14); ;;
/* right: 2%; */
/* padding-left: 5%; */

    /* position: relative; */
    /* text-wrap: down; */ 
    
}
.upper img{
    /* height: 30%;
    width:38%;
    display: flex;
    /* position: relative; */
    /* margin-bottom: 44px;
    justify-content: center;
    right: 34px;
    border-radius: 3%;
    /* margin-right: 20% ; */
    /* align-items: center; */ 
    width:35px;
    height:auto;
    border-radius: 48%;
    /* position: relative;
    display: flex; */
    margin: 10px 0;
    padding-top: 2px;
    /* padding-bottom: 24px; */
    /* padding-right: 50px; */
    bottom: 124px;
    margin-bottom: 40px;
    margin-right: 35px;
}


#new{
    background-color: red;
    border-color: red;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
    color:white;
    text-align: center;
    /* padding-left: 6%; */
    position: relative;
    /* margin-left: 50px; */
    /* /* justify-content: last baseline; */
    /* translate: 45px;  */
}
#new img{
    /* width:35px;
    height:auto;
    border-radius: 48%;
    background-color: crimson;
    margin: 10px 0;
    padding-top: 2px;
    /* padding-bottom: 24px; */
    /* padding-right: 50px; */
    /* bottom: 124px;
    margin-bottom: 40px;
    margin-right: 45px; */ 
    /* color: lightcoral; */
    width:35px;
    height:auto;
    border-radius: 48%;
    /* margin-right: 60px; */
    justify-content: center;
    margin: 10px 0;
    padding-top: 2px;
    /* padding-bottom: 24px; */
    /* padding-right: 50px; */
    bottom: 124px;
    margin-bottom: 40px;
    margin-right: 50px;
    /* position:absolute; */
}
.random{
    background-color:whitesmoke;
    height: 100px;
    width: 70px;
    /* border: 4px solid whitesmoke; */
    border-style: solid;
    border-radius: 11%;
    border-color: whitesmoke;
    display: flex;
position: relative;
margin-left: 1060px;
bottom: 260px;
background-image: 2%;
/* margin-bottom: 180px; */
    /* margin: 6px; */
}
.icon{
    color: crimson;
    /* font-size: 1%; */
    /* background-size: 1%; */
    width:1%;
    height: 20%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 40px;
    margin-top: 18px;
}
.hr{
    /* height: 0%; */
    /* width: 1px; */
    display: flex;
    /* position: relative; */
border-left: #000;
    
/* position: relative; */
}
.speaker{
    width:1%;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 8%;
    /* margin-left: 32px; */
    margin-top: 60px;
margin-right: 28px;
}
.small{
    height: 50px;
    width: 50px;
    background-color:#ffa424;
    display: flex;
    position: relative;
    margin-left: 880px;
    margin-bottom: 38px;
    bottom: 225px;
    border-radius: 9%;
    
    
}
.triangle{
    height: 25px;
    width: 10px;
    display: flex;
    position: relative;
    margin-left: 14px;
    padding-top: 13px;
    border-radius: 1%;
    color: white;
    
    /* justify-content: center; */
}
.text h3{
    margin-left: 59%;
    text-decoration: underline;
    display:flex;
    margin-bottom: -1%;
    margin-top: -9%;
    /* text-align: 29px; */
    top: 190px;
    margin-top: 110px;
    margin-left: 620px;
    text-indent: 34px;
    /* padding: 2%; */
    /* margin-left: 26px; */
    /* line-break: normal;/ */
    /* line-break:: before; */

    color: rgb(14, 69, 14); ;
    ;
    /* line-gap-override: 2; */
    /* margin-right: 1%; */
    /* color:dimgrey;  */
}
.different h2{
    display: flex;
    position: absolute;
    margin-bottom: 45px;
    bottom: 65%;
    left: 4px;
    font-size: 140%;
    font-weight: 500;
    /* margin-left: 4px; */
}
.last h4{
    display:flex;
    position:absolute;
    margin-left: 530px;
    margin-bottom: 750px;
    margin-top: -3%;
    font-size: large;
    color: rgb(14, 69, 14);;
    /* top:3px; */
    /* padding-bottom: 20px; */
    /* bottom:% */
}
.star img{
    width:12px;
    height:auto;
    border-radius: 48%;
    margin-top: 985px;
    /* margin-right: 60px; */
    /* justify-content: center; */
    margin: 10px 0;
    /* padding-top: 2px; */
    /* padding-bottom: 24px; */
    /* padding-right: 50px; */
    bottom: 138px;
    margin-bottom: 80px;
    /* padding-right: 9px; */
    /* position: absolute; */
    /* margin-right: 190px; */
    /* position:absolute; */
    /* display: flex; */
    
}
.star{
    padding-right:8% ;
    width:15px;
    height:auto;
    margin-right: 70px;
    display: flex;
    position:absolute;
    padding-top: -1%;
    bottom: 15px;
}
.star2{
    padding-right:8% ;
    width:15px;
    height:auto;
    margin-right: 70px;
    display: flex;
    position:absolute;
    padding-top: -1%;
    bottom: 15px;
}
.star2 img{
    width:12px;
    height:auto;
    border-radius: 48%;
    margin-top: 985px;
    /* margin-right: 60px; */
    /* justify-content: center; */
    margin: 10px 0;
    /* padding-top: 2px; */
    /* padding-bottom: 24px; */
    /* padding-right: 50px; */
    bottom: 138px;
    margin-bottom: 80px;
}
#continue{
    display: flex;
    position: relative;
    margin-bottom: 23px;
    bottom: 220px;
    /* height: 1%; */
    /* width: 1%; */
}
.centered-hr{
    height: 1%;
    display: flex;
    text-align: center;
    margin-top: 235px;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}
.connect{
    height: 80px;
    width:850px;
    display: flex;
    position: relative;
    padding-left: 30%;
    margin-bottom: 45px;
    bottom: 239px;
}
.google {
    height: 35px;
    width: 35px;
    display: flex;
    padding: 4%;
    right: 45%;
    bottom: 10%;
    /* left: 45%; */
    /* margin-right: 56%; */
    position: relative;
    /* margin-bottom: 560px; */
}

.above h5{
    bottom: 9%;
    padding-top: 50px;
}

