.container{

    height: 850px;
    width: 1520px;
    display:  inline-flex;
    background-size: cover;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.centered-hr{
    height: 1px;
    display: flex;
    text-align: center;
    margin-top: 235px;
    align-self: center;
    /* text-decoration: overline; */
    /* justify-content: center; */
    /* content: ""; */
    /* font-size: 3px; */
    /* content: Or; */
    /* border: none; */    /* width: 50%; */
    /* max-width: 50px; */
}
.centered-hr::before,
.centered-hr::after{
    content: "";
    flex: 1;
    border-top: 1px solid #000;
    /* margin-bottom: 235px; */
}
.first{
    background-color:#f2f0e9;
    height: 600px;
    width: 950px;
    flex-direction: column;
    flex-wrap: row wrap;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 55px;
    padding-left: 2%;
    padding-right: 3%;
    position: absolute;
    top: 30px;
    border-left: 25px;
    margin-left: 190px;
    color: rgb(43, 59, 59);
font-size: 15px;
    margin-top: 45px;
    margin-bottom:30px;
}
.second{
   
    
    background-color:#f2f0e9;
    height: 2px;
    width: 950px;
    flex-direction: column;
    flex-wrap: row wrap;
    text-align: center;
    padding-top:25px;
    padding-bottom:98px;
    padding-left: 2%;
    padding-right: 3%;
    position: absolute;
    top: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 190px;
    font-size: 29px;
/* text-align: center; */
    
    
/* font-size: larger; */
font-family:'Jost', sans-serif;
/* font-family: 'Poppins', sans-serif; */
font-display: right;
letter-spacing: 3%;
line-gap-override: 6%;
/* /* color: darkslategray; */
color: rgb(3, 39, 39)

/* text-align: justify; */


   
}
.third{
    background-color: ghostwhite;
    width: 935px;
    height: 355px;
    flex-direction: column;
    position: absolute;
    margin-top: 424px;
    margin-right: 230px;
    margin-left: 230px;
    margin-bottom: 100px;
}
#one{
    border-radius: 12px 12px 12px 12px;
    background-color: ghostwhite;
    /* width: 800px; */
    height: 45px;
    width: 290px;
    margin-top: 25px;
    margin-left: 19px;
    text-align: left;
    nav-left: 5%;
    /* text-align:right 4%; */
color: dimgrey;
padding-left: 20px;
border-color: dimgrey;
border-style: solid; 
}
#two{
    border-radius: 12px 12px 12px 12px;
    
    border-color: dimgrey;
    border-style: solid; 
    background-color: ghostwhite;
    height: 45px;
    width: 350px;
    margin-top: 25px;
    
    margin-left: 238px;
    text-align: left;
    nav-left: 5%;
    /* text-align:right 4%; */
color: dimgrey;
padding-left: 20px;
border-color: dimgrey;
border-style: solid; 

}  
.count{
    /* border-radius: 8px 8px 8px 8px; */
    /* background-color: ghostwhite;
    height: 30px;
    width: 40px;
    position: left;
    border-color: dimgrey;
border-style: solid; 
nav-down: 5%; */
/* position: relative; */
display: flex;
         align-items: center;
         padding: 2px;
         margin-left: 2%;
         margin-top: 2%;

}
.count[ type ="checkbox"]{
    /* flex: none; */
    display:block;
    position: absolute;
    height:7%;
    width: 4%;
    display:flexbox;
    margin-bottom: 2%;
    margin-top: -1%;
    top:35%;
    /* top:65px; */
}
.count h4{

    margin-left: 59%;
    text-decoration: underline;
    display:flex;
    margin-bottom: -1%;
    margin-top: -9%;
    text-align: 29px;
    top:75px;
    color:dimgrey; 
}

#three{
    border-radius: 12px 12px 12px 12px;
    background-color: rgb(14, 69, 14);
    color: azure;
    height: 45px;
    width: 390px;
    margin-top: 25px;
    margin-left: 25%;
    text-align: center;
    nav-left: 5%;
    border-color:rgb(14, 69, 14); ;
    
    border-style: solid; 
}
#four{
    border-radius: 12px 12px 12px 12px;
    background-color:rgb(237, 108, 15);
    color: azure;
    height: 45px;
    width: 390px;
    margin-top: 2%;
    margin-left: 25%;
    text-align: center;
    nav-left: 5%;
border-style: solid;
border-color: rgb(237, 108, 15);
size: 4px;
}
body{
    background-color:#dbdbd9;
}
.upper{
    background-color:whitesmoke;
    height: 150px;
    width: 150px;
    /* border: 4px solid whitesmoke; */
    border-style: solid;
    border-radius: 8%;
    border-color: whitesmoke;
    display:flexbox;
    flex-direction: column;
    position: relative;
}
#new{
    background-color: red;
    border-color: red;
}
.star{
    display: inline;
    height: min-content;
}